 body {
  margin: 0;
  -moz-user-select: text;
  font-size: 1.05rem;
  -webkit-user-select: text;
  user-select: text;
}
body{
  font-size: 12px;
  background: #101010;
}
body, p {
line-height: 1.4285em;
}

*{

  margin:0;
  padding:0;
  box-sizing: border-box;
  color: white;
  font-family: roboto condensed,Helvetica,sans-serif;
}
.all_container{
  background: #101010;
  padding: 4em 1.25em 2em 2em;
}
.na{
  fill: white;
  width: 17px;
}
div{
  display: block;
}
nav{
	position: fixed;
  margin: 0;
  width: 100%;
	background: #101010;
	padding-bottom: 10px;
  z-index:1;
  border-bottom: 1px solid #171717;

  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
}
#disqus_thread{
    background: #101010;
}
.blu_span{
   color: #46b4e4;
}
nav ul>li {
  margin-left: 15px;
  margin-top: 10px;
  list-style: none;
}
nav ul> .searchicon{
  margin-left: 210px;
}
nav ul> .timetable{
  margin-left: 100px;
  filter:brightness(80%);
  
}
.time{
  font-size: 15px;
}
nav ul> li a{
	display: block;
	font-size: 1.3rem;
   text-decoration: none;
   color: white;
   float: left;
   text-align: center;
}
#results{
  width: 100%;
  background-color: #171717;
}
.align{
  padding-top: 10px;
  margin-right: 8px;
  display: inline-block;
}
.img_general{
  width: 137px;
  height: 195px;
}
.image_general{
  width: 45px;
  height: 60px;

}
.some, 
.lazy {
    overflow: none;
    line-height: 0;
    width: 100%;
}
table {
  font-family: arial, sans-serif;
  width: 100%;
  height: 200px;
  background-color: #171717;
  color: #46b4e4;
  border-top: 2px solid #46b4e4;
}

.overflow{
  position: absolute;
  overflow-y: scroll;
  height: 250px;
  width: 100%;
  overflow-x:hidden;
  z-index:1523;
}
#display{
  position: absolute;
  z-index: 5556;
}
.ic{
  width: 18px;
}
h1, h2{
  border-bottom: 1px solid #46b4e4;
  width: 165px;
  padding-bottom: 10px;
}
h2{
  width: 100px;
}
#myInput{
  color: #46b4e4;
  width: 98%;
  height: 30px;
  border: 1px solid #101010;
  background: #101010;
  margin-top: 10px;
  margin-left: 0PX;
  outline: 1px solid #101010;
}
body::-webkit-scrollbar {
  width: 3.5px;
  background: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  background: #46b4e4;
  border-radius: 150px;    
}
body::-webkit-scrollbar-track {
  border-radius:10px;
  background: #101010;
}
#scroll::-webkit-scrollbar {
  width: 3.5px;
  background: #F5F5F5;
}
#scroll::-webkit-scrollbar-thumb {
  background: #46b4e4;
  border-radius: 150px;    
}
#scroll::-webkit-scrollbar-track {
  border-radius:10px;
  background: #101010;
}
#ne{
  display: none; 
}
.position {
    display: block;
    font-size: .85rem;
    background: #171717;    
}
tr,td,a{
  list-style: none;
  text-decoration: none;
}
td {    
  text-align: left;
  padding: 8px;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
tr:nth-child(even) {
  background-color: #171717;
  color: #46b4e4;
}
.title{
  font-size: 15.5px;
  text-align: center;
}
.social_media{
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.episodeT {
  color: #f0eff1;
  margin-bottom: 0;
  margin-top: 0;
  font-size: .7.5rem;  
}
.text_limit {
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  width: 100px;
}
.text_limit_inline{
  vertical-align: top;
  float: right;
  font-weight: 100;
  font-size: 9.5px;
}
.insta{
  border-radius: 12px;
  width: 28px;
}
.meida{
  float: right;
}
.round{
  display: inline-block;
}
.round> a{

  fill:white;
  display: block;
  text-align: center;
  width: 30px;
}
.text_position{
 color: #f9f9f9;
 display: inline-block;
 font-size: .8rem;
}
.topAnime> .align>.some{
  width: 100px;
  height: 120px;
}
.topAnime> .align>.some>a .img_general{
  width: 103px;
  height: 120px;
  border-radius: 4px;
}
.topAnime> .align>.episodeT>.text_limit_inline{
  display: none;
}
footer{
  background-color: #101010;
  border-top: 1px #221f1f solid;
  padding: 0 1.125em;
} 
@media  screen and (min-width: 300px) and (max-width: 650px){
  .align{
    width: 45%;
  }
  .img_general{
    width: 100%;
  }
}  
@media screen and (min-width: 1200px)  {
  header,
  #ne, 
  #scroll,
  .container,
  .detail_anime,
  footer,
  #disqus_thread{
    max-width: 1500px;
    margin: 0 auto;
  }
  .respon{
  width: 200px;
  height:250px;
  margin: 0 auto;
  }
  .thumb_update{
    width:300px;
    margin: 0 auto;
  }
} 

